body {
    background:#111827;
    color:white;
    font-family:"Courier New", monospace;
    text-align:center;
}


.screen {
    display:none;
}


.screen.active {
    display:block;
}


button {
    background:#7c3aed;
    color:white;
    padding:15px;
    margin:10px;
}
